<form>
    <div>
        <label>Title</label>
        <input val="{{ issue.title }}" placeholder="title" />
    </div>
    <div>
        <label>Description</label>
        <textarea>{{ issue.description }}</textarea>
    </div>
    <div>
        <label>Assignee</label>
        <select>
            <option>Arek Zając</option>
            <option>Kamil Zając</option>
            <option>Paweł Szczepański</option>
        </select>
    </div>
    <div>
        <label>Priority</label>
        <select>
            <option>Arek Zając</option>
        </select>
    </div>
</form>